[Unit]
Description=Какой ты тюлень — Telegram Quiz Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pltgst/SealQuiz/SealQuiz
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5

# Переменные окружения (или укажи токен здесь напрямую)
EnvironmentFile=/home/pltgst/SealQuiz/SealQuiz/.env
ExecStart=/home/pltgst/SealQuiz/SealQuiz/venv/bin/python quiz_bot.py

StandardOutput=journal
StandardError=journal
SyslogIdentifier=seal-quiz-bot

[Install]
WantedBy=multi-user.target
